<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>Registration page</title>
    <meta charset="UTF-8">
    <style>
        #registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .login_item{
            margin-bottom: 10px;
        }

        img{
            height: 120px;
            width: 400px;
        }
    </style>
</head>
<body>
<div id="registration_form">
    <form method="post" th:action="@{/login/registration}" th:object="${loginForm}">
        <img class="login_item" th:src="@{/images/registration_icon.png}">
        <br>
        <input class="login_item" type="text" placeholder="enter username" th:field="*{username}">
        <br>
        <input class="login_item" type="password" placeholder="password" th:field="*{password}">
        <br>
        <input class="login_item" type="submit" value="registrate">
    </form>

</div>
</body>
</html>
